header {
  background-color: #2e5a48;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
}

section,
main {
  padding: 1rem;
  max-width: 700px;
  margin: auto;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: #2e5a48;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2e5a48;
}

#scripture-result {
  margin-top: 1rem;
  padding: 0.5rem;
  font-style: italic;
}
